<article class="item">
        <div class="image-container">
          <img class="image" src="{{photos}}" width="280" height = "200">
        </div>

        <div class="item-content">
          <p class="item-name">
            <a href="#">{{name}}</a>
          </p>
          <p class="item-location">
            {{location}}
          </p>
          <p class="item-decription">
            {{description}} 
          </p>
          <p class="item-more">
            <a href="#">more</a>
          </p>
        </div>
</article>